h1{
    border-top-style: groove;
    border-bottom-style: groove;
    background: linear-gradient(to right, black, gray);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}

body{
    background-color: lightgray;
    color: black;
}

p{
    color: black;
    border-style: groove;
    border-width: 3px;
    padding: 2px;
}

div{
    border-style: dashed;
}

#box1{
    border: 5px solid;
    width: 400px;
    height: 25;
    font-size: 22px;
    padding: 20px;
    background: pink;

}

#box2{
    border: 5px solid;
    width: 400px;
    height: 25;
    font-size: 22px;
    padding: 20px;
    background: lightblue;
    
    position: absolute;

    top:140px;
    left: 459px;
}

#box3{
    border: 5px solid;
    width: 400px;
    height: 25;
    font-size: 22px;
    padding: 20px;
    background: lightgoldenrodyellow;

    position: absolute;

    top: 140px;
    left: 912px;
}

a:visited{
    color: gray;
}
a:hover{
    color: greenyellow;
}

